{% macro match_node(node) %}
    {# 
        This section matches peeks
    #}
    {% if node.Peek is defined %}
        // Peek
        match self.peek().map(|t| t.token_type) {
            {% for key, subnode in node.Peek.peek | items %}
                // {{ (key | token_from_id) }}
                Some({{ key }}) => {
                    {# Make sure that Options and Vecs are initialized properly #}
                    {% if subnode.Element is defined %}
                        {% for element in subnode.Element.alt.elements %}
                           
                            {% if element.RuleAtom.suffix == "Optional" %}
                                let {{ (element.RuleAtom.id | rule_from_id).name }} = None;
                            {% elif element.RuleAtom.suffix == "Plus" %}
                                let {{ (element.RuleAtom.id | rule_from_id).name }} = Vec::new();
                            {% elif element.RuleAtom.suffix == "Star" %}
                                let {{ (element.RuleAtom.id | rule_from_id).name }} = Vec::new();
                           
                           
                            {% elif element.TokenAtom.suffix == "Optional" %}
                                let {{ element.TokenAtom.id | token_from_id }} = None;
                            {% elif element.TokenAtom.suffix == "Plus" %}
                                let {{ element.TokenAtom.id | token_from_id }} = Vec::new();
                            {% elif element.TokenAtom.suffix == "Star" %}
                                let {{ element.TokenAtom.id | token_from_id }} = Vec::new();
                            {% endif %}


                            
                        {% endfor %}
                    {% endif %}



                    {# Then, match normally #}
                    {{ match_node(subnode) }}
                }
            {% endfor %}

                _ => {
                    return Err(ANTLRError::NoAlt)
                }
        }


    {# 
        This section matches elements
    #}
    {% elif node.Element is defined %}
        {% if node.Element.element.RuleAtom is defined %}
            // RuleAtom, suffix: {{ node.Element.element.RuleAtom.suffix }}
            let {{ (node.Element.element.RuleAtom.id | rule_from_id).name }} = self.{{ (node.Element.element.RuleAtom.id | rule_from_id).name }}()?;
        {% elif node.Element.element.TokenAtom is defined %}
            // {{ node.Element.element.TokenAtom.id | token_from_id }}
            let {{ node.Element.element.TokenAtom.id | token_from_id | default('_', true) }} = self.match_token({{ node.Element.element.TokenAtom.id }})?;
        {% elif node.Element.element.TokenSet is defined %}
            // TokenSet
        {% else %}
            // Finished
            // Hello 3
            // {{ node }}
        {% endif %}

        {% if node.Element.next is defined %}
            {{ match_node(node.Element.next) }}
        {% endif %}



    {# 
        This section checks if there are multiple alts, or just one, and then calls either Rule::new or AltX {}
    #}
    {% else %}
        {% if (node.Finish.alt.parent_rule | rule_from_id).alts | length > 1 %}
            {{ (node.Finish.alt.parent_rule | rule_from_id).name | capitalize }}::Alt{{ node.Finish.alt.index }} {
                {% for element in node.Finish.alt.elements %}
                    {% if element.RuleAtom.suffix == "Optional" %}
                        {{ (element.RuleAtom.id | rule_from_id).name }}: {{ (element.RuleAtom.id | rule_from_id).name }}.map(Box::new),
                    {% elif element.RuleAtom.suffix == "Plus" %}
                        {{ (element.RuleAtom.id | rule_from_id).name }},
                    {% elif element.RuleAtom.suffix == "Star" %}
                        {{ (element.RuleAtom.id | rule_from_id).name }},
                    {% elif element.RuleAtom is defined  %}
                        {{ (element.RuleAtom.id | rule_from_id).name }}: Box::new({{ (element.RuleAtom.id | rule_from_id).name }}),

                    {% elif element.TokenAtom.suffix == "Optional" %}
                        {{ (element.TokenAtom.id | token_from_id) }}: {{ (element.TokenAtom.id | token_from_id) }}.map(Box::new),
                    {% elif element.TokenAtom.suffix == "Plus" %}
                        {{ element.TokenAtom.id | token_from_id }},
                    {% elif element.TokenAtom.suffix == "Star" %}
                        {{ element.TokenAtom.id | token_from_id }},
                    {% elif element.TokenAtom.id is defined  %}
                        {% if element.TokenAtom.id | token_from_id %}
                            {{ element.TokenAtom.id | token_from_id }},
                        {% endif %}
                    {% endif %}

                {% endfor %}
            }
        {% else %}
            {{ (node.Finish.alt.parent_rule | rule_from_id).name | capitalize }}::new(
                {% for element in node.Finish.alt.elements %}
                    {% if element.RuleAtom.suffix == "Optional" %}
                        {{ (element.RuleAtom.id | rule_from_id).name }}.map(Box::new),
                    {% elif element.RuleAtom.suffix == "Plus" %}
                        {{ (element.RuleAtom.id | rule_from_id).name }},
                    {% elif element.RuleAtom.suffix == "Star" %}
                        {{ (element.RuleAtom.id | rule_from_id).name }},
                    {% elif element.RuleAtom is defined  %}
                        Box::new({{ (element.RuleAtom.id | rule_from_id).name }}),
                    {% endif %}

                    {% if element.TokenAtom.id is defined %}
                        {% if element.TokenAtom.suffix == "Optional" %}
                            {{ (element.TokenAtom.id | token_from_id) }}.map(Box::new),
                        {% elif element.TokenAtom.suffix == "Plus" %}
                            {{ element.TokenAtom.id | token_from_id }},
                        {% elif element.TokenAtom.suffix == "Star" %}
                            {{ element.TokenAtom.id | token_from_id }},
                        {% elif element.TokenAtom.id is defined  %}
                            {% if element.TokenAtom.id | token_from_id %}
                                {{ element.TokenAtom.id | token_from_id }},
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            )
        {% endif %}
    {% endif %}

{% endmacro %}