pub struct Parser {

}

impl Parser {
    {% for rule in rules %}
        pub fn {{ rule.name }}(&mut self) -> {{ rule.name | capitalize }} {
            self.set_state(rule | startstate );
        }
    {% endfor %}
}

{%- for rule in rules %}
    {%- if rule.alt_list.alts | length > 1 %}
    pub enum {{ rule.name }} {
        {%- for alt in rule.alt_list.alts %}
            {{alt.label}} {
                {% include 'rust-parse-alt' %}
            },
        {% endfor %}
    }
    {% else %}
    pub struct {{ rule.name | capitalize }} {
        {% set alt = rule.alt_list.alts | first %}
        {% include 'rust-parse-alt' %}
    }

    impl {{ rule.name | capitalize }} {
        pub fn new() -> {{ rule.name | capitalize }} {

        }
    }
    {% endif %}
{% endfor %}