{% from "rust-lookahead" import match_node %}
use std::collections::VecDeque;

pub enum ANTLRError {
    Mismatched,
    EOF
}

pub struct Token {
    token_type: usize,
    text: String
}

pub struct Parser {
    head: usize,
    tokens: Vec<Token>,
    rule_stack: VecDeque<usize>
}

impl Parser {
    pub fn peek(&self) -> Option<&Token> {
        self.tokens.get(self.head + 1)
    }

    pub fn match_token(&mut self, token: usize) -> Result<(), ANTLRError> {
        match self.tokens.get(self.head) {
            Some(t) => {
                if t.token_type == token {
                    self.head += 1;
                    Ok(())
                } else {
                    Err(ANTLRError::Mismatched)
                }
            },
            None => Err(ANTLRError::EOF)
        }
    }
}

impl Parser {
    {% for rule in rules %}
    pub fn {{ rule.name }}(&mut self) -> Result<{{ rule.name | capitalize }}, ANTLRError> {
        self.rule_stack.push_back({{ rule.name | id_from_rule }});

        let __result = {
            {{ match_node(loop.index0 | lookahead) }}
        };

        self.rule_stack.pop_back();

        Ok(__result)
    }

    {% endfor %}
}

{% for rule in rules %}
{% if rule.alts | length > 1 %}
pub enum {{ rule.name | capitalize }} {
    {% for alt in rule.alts %}
    {{ alt.label | default("Alt" ~ loop.index, true) }} {
        {% for element in alt.elements %}
            {% if element.Atom.atom.RuleID is defined %}
            {{ (element.Atom.atom.RuleID | rule_from_id).name }}: {{ element | etype_prefix }}{{ (element.Atom.atom.RuleID | rule_from_id).name | capitalize }}{{ element | etype_suffix }},
            {% endif %}


            {% if element.Atom.atom.TokenID is defined %}
            token_{{ loop.index }}: {{ element | etype_prefix }}Token{{ element | etype_suffix }},
            {% endif %}
        {% endfor %}
    },
    {% endfor %}
}

{% else %}
pub struct {{ rule.name | capitalize }} {
    {% for alt in rule.alts %}
        {% for element in alt.elements %}
            {% if element.RuleAtom is defined %}
            {{ (element.RuleAtom.id | rule_from_id).name }}: {{ element | etype_prefix }}{{ (element.RuleAtom.id | rule_from_id).name | capitalize }}{{ element | etype_suffix }},
            {% endif %}


            {% if element.TokenAtom is defined %}
            token_{{ loop.index }}: {{ element | etype_prefix }}Token{{ element | etype_suffix }},
            {% endif %}
        {% endfor %}
    {% endfor %}
}

impl {{ rule.name | capitalize }} {
    pub fn new(
        {% for alt in rule.alts %}
            {% for element in alt.elements %}
                {% if element.RuleAtom is defined %}
                {{ (element.RuleAtom.id | rule_from_id).name }}: {{ element | etype_prefix }}{{ (element.RuleAtom.id | rule_from_id).name | capitalize }}{{ element | etype_suffix }},
                {% endif %}


                {% if element.TokenAtom is defined %}
                token_{{ loop.index }}: {{ element | etype_prefix }}Token{{ element | etype_suffix }},
                {% endif %}
            {% endfor %}
        {% endfor %}
    ) -> {{ rule.name | capitalize }} {


        {{ rule.name | capitalize }} {
            {% for alt in rule.alts %}
                {% for element in alt.elements %}
                    {% if element.RuleAtom is defined %}
                    {{ (element.RuleAtom.id | rule_from_id).name }},
                    {% endif %}


                    {% if element.TokenAtom is defined %}
                    token_{{ loop.index }},
                    {% endif %}
                {% endfor %}
            {% endfor %}
        }
    }
}

{% endif %}
{% endfor %}