{% from "rust-lookahead" import lookahead, match_alts, match_alt %}

pub struct Parser {
    rule_stack: VecDeque<usize>
}

impl Parser {
    {% for rule in rules %}
    pub fn {{ rule.name }}(&mut self) -> Result<{{ rule.name | capitalize }}, ANTLRError> {
        self.rule_stack.push({{ rule.name | id_from_rule }});

        {% if rule.alts | length > 1%}
        let result = {{ match_alts(rule.alts) }};
        {% else %}
        let result = {{ rule.name | capitalize }} {
        {{ match_alt(rules.alts[0], 0) }}
        };
        {% endif %}

        self.rule_stack.pop();

        Ok(result)
    }
    {% endfor %}
}

{% for rule in rules %}
{% if rule.alts | length > 1 %}
pub enum {{ rule.name | capitalize }} {
    {% for alt in rule.alts %}
    {{ alt.label | default("Alt" ~ loop.index, true) }} {
        {% for element in alt.elements %}
            {% if element.Atom.atom.RuleID is defined %}
            {{ (element.Atom.atom.RuleID | rule_from_id).name }}: {{ element | etype_prefix }}{{ (element.Atom.atom.RuleID | rule_from_id).name | capitalize }}{{ element | etype_suffix }},
            {% endif %}


            {% if element.Atom.atom.TokenID is defined %}
            token_{{ loop.index }}: {{ element | etype_prefix }}Token_{{ loop.index }}{{ element | etype_suffix }},
            {% endif %}
        {% endfor %}
    },
    {% endfor %}
}

{% else %}
pub struct {{ rule.name | capitalize }} {
    {% for alt in rule.alts %}
        {% for element in alt.elements %}
            {% if element.Atom.atom.RuleID is defined %}
            {{ (element.Atom.atom.RuleID | rule_from_id).name }}: {{ element | etype_prefix }}{{ (element.Atom.atom.RuleID | rule_from_id).name | capitalize }}{{ element | etype_suffix }},
            {% endif %}


            {% if element.Atom.atom.TokenID is defined %}
            token_{{ loop.index }}: {{ element | etype_prefix }}Token_{{ loop.index }}{{ element | etype_suffix }},
            {% endif %}
        {% endfor %}
    {% endfor %}
}

impl {{ rule.name | capitalize }} {
    pub fn new() -> {{ rule.name | capitalize }} {

    }
}

{% endif %}
{% endfor %}